:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
}

.dv_imagem_do_header{

    display: flex;
    align-items: center;
    justify-content: space-around;

    position: fixed;

    width: 100vw;

    background-color: #ffffff;
}

.dv_imagem_do_header img{

    width: 80px;
    height: 80px;
}

.header_botao_inicio{

    
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 22px;

    border: 0px solid;

    background-color: var(--cor-2);

    color: var(--cor-1);

}

.header_botao_inicio:hover{

    transition: 0.2s;

    text-decoration: underline;
    color: var(--cor-4);
}

.header_botao_sobre_nos{

    
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 22px;

    border: 0px solid;

    background-color: var(--cor-2);

    color: var(--cor-1);

}

.header_botao_sobre_nos:hover{

    transition: 0.2s;

    text-decoration: underline;
    color: var(--cor-4);
}

.header_botao_blog{

    
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 22px;

    border: 0px solid;

    background-color: var(--cor-2);

    color: var(--cor-1);

}

.header_botao_blog:hover{

    transition: 0.2s;

    text-decoration: underline;
    color: var(--cor-4);
}

.dv_botoes_da_nav{

    display: flex;
    justify-content: space-evenly;
}

.botao_cadastro{

    width: 200px;
    height: 40px;
    margin-right: 2%;

    cursor: pointer;

    font-family: "Poppins", sans-serif;
    font-weight: 600;

    border: 1px solid var(--cor-4);
    border-radius: 5px;

    color: var(--cor-2);
    background-color: var(--cor-4);
}

.botao_login{

    width: 200px;
    height: 40px;
    margin-right: 2%;

    cursor: pointer;

    font-family: "Poppins", sans-serif;
    font-weight: 600;

    border: 1px solid var(--cor-1);
    border-radius: 5px;

    color: var(--cor-1);
    background-color: var(--cor-2);
}

.botao_login:hover{

    transition: 0.2s;

    border: 1px solid var(--cor-1);

    color: var(--cor-2);
    background-color: var(--cor-1);
}

/* BODY */

body{

    margin: 0px;
}

.carrossel{

    display: flex;

    height: 100vh;

    padding-top: 3%;

    background-color: var(--cor-5);
}

.conteudo_carrossel{

    width: 50%;

    display: flex;
    flex-direction: column;

    margin-left: 5%;
    margin-top: 12%;

}

.conteudo_carrossel h2{


    font-size: 45px;
    font-family: "Poppins", sans-serif;

    margin-bottom: 0px;

    color: var(--cor-4);

}

.conteudo_carrossel h3{

    font-size: 25px;
    font-family: "Poppins", sans-serif;

    margin-top: 2%;
    margin-bottom: 2%;

    color: var(--cor-4);
}

.conteudo_carrossel_line{

    height: 10px;
    width: 70px;

    border-radius: 5px;

    background-color: var(--cor-2);
}

.conteudo_carrossel p{

    margin-top: 5%;

    font-family: "Poppins", sans-serif;

    color: var(--cor-1);
}

.alinhamento_imagem_carrossel{

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
}

.alinhamento_imagem_carrossel img{

    width: 600px;
    height: 600px;
}

.alinhamento_botao_carrossel button{
    
    width: 200px;
    height: 40px;

    margin-top: 5%;

    cursor: pointer;

    border: 1px solid var(--cor-1);
    border-radius: 10px;

    color: var(--cor-2);
    background-color: var(--cor-1);

}

.alinhamento_botao_carrossel button:hover{

    transition: 0.2s;

    background-color: var(--cor-4);
}

.cta{

    display: flex;
    padding: 2%;

    height: 330px;

    font-family: "Poppins", sans-serif;

    background-color: var(--cor-2);
}

.cta img{

    width: 400px;
    height: 300px;

    border-radius: 20px;
}

.cta_texto{

    display: flex;
    flex-direction: column;

    margin-left: 3%;

    width: 50%;

    color: var(--cor-1);
}

.cta_texto h3{

    font-size: 30px;

    margin-bottom: 1%;

    color: var(--cor-4);
}

.cta_line{

    height: 5px;
    width: 50px;

    border-radius: 5px;

    margin-bottom: 2%;

    background-color: var(--cor-1);
}

.cta button{

    width: 200px;
    height: 40px;

    margin-right: 2%;
    margin-top: 5%;

    cursor: pointer;

    font-family: "Poppins", sans-serif;
    font-weight: 600;

    border: 1px solid var(--cor-1);
    border-radius: 5px;

    color: var(--cor-1);
    background-color: var(--cor-2);
}

.cta button:hover{

    transition: 0.2s;

    color: var(--cor-2);
    background-color: var(--cor-1);
}

/* FOOTER */

.alinhamento_footer{

    display: flex;
    align-items: center;

    width: 100vw;
    height: 40vh;

    background-color: var(--cor-4);
}

.alinhamento_conteudo_footer{

    display: flex;
}

.footer_alinhamento_img img{

    width: 160px;
    height: 150px;

    margin-left: 25%;

    border-radius: 100%;
}

.section_um_footer{

    display: flex;
    flex-direction: column;

    margin-left: 50%;
}

.section_um_footer h2{

    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 25px;   
    
    margin-bottom: 2%;
    
    color: var(--cor-2);
}

.section_um_footer_line{

    width: 35px;
    height: 5px;

    border: 1px solid var(--cor-3);
    border-radius: 5px;

    background-color: var(--cor-3);
}

.section_um_footer button{

    border: 0px solid;

    text-align: start;
    font-size: 20px;

    cursor: pointer;

    width: 300px;

    margin-top: 10%;


    color: var(--cor-2);
    background-color: #ce1f3a;
}

.section_um_footer button:hover{

    transition: 0.2s;

    text-decoration: underline;
}

.section_dois_footer{

    display: flex;
    flex-direction: column;
}

.section_dois_footer h2{

    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 25px;   
    
    margin-bottom: 2%;
    
    color: var(--cor-2);
}

.section_dois_footer_line{

    width: 35px;
    height: 5px;

    border: 1px solid var(--cor-3);
    border-radius: 5px;

    background-color: var(--cor-3);
}

.section_dois_footer button{

    border: 0px solid;

    text-align: start;
    font-size: 20px;

    cursor: pointer;

    width: 300px;

    margin-top: 10%;


    color: var(--cor-2);
    background-color: #ce1f3a;
}

.section_dois_footer button:hover{

    transition: 0.2s;

    text-decoration: underline;
}

.section_tres_footer{

    display: flex;
    flex-direction: column;
}

.section_tres_footer h2{

    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 25px;   
    
    margin-bottom: 2%;
    
    color: var(--cor-2);
}

.section_tres_footer_line{

    width: 35px;
    height: 5px;

    border: 1px solid var(--cor-3);
    border-radius: 5px;

    background-color: var(--cor-3);
}

.alinhamento_botoes_social_media{

    display: flex;

    margin-top: 15%;
}

.section_tres_footer img{

    width: 40px;
    height: 40px;

    background-color: none;
}

.section_tres_footer button{

    width: 60px;
    height: 60px;

    cursor: pointer;

    text-align: center;

    border: 0px solid;
    border-radius: 0px;

    background-color: var(--cor-4);
}
